*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: crimson;
    font-size: 25px;
}
